body {
    margin: 0%;
    padding: 0%;
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
canvas {
    position: absolute;
    left: 54vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#imgNo {
    position: absolute;
    top: 80vh;
}
#video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
    /* position: absolute;
    left: 23vw; */
    padding-right: 16vw;
}
#totalImg {
    position: absolute;
    top: 90vh;
}
button{
    position: absolute;
    top: 88vh;
    left: 45vw;
    padding: 4px 20px;
    color:white;
    background: rgb(8, 68, 235) ;
    z-index: 1;
    font-size: 3vh;
}
.backgroundImgFirst {
    opacity: 0.5;
    width: 25%;
    height: 100vh;
    background-image: url(/css/images/Global/firstBack.png);
    background-size: 100% 100%;
    position: absolute;
    left: -2vw;
}
.backgroundImgSecond {
    position: absolute;
    opacity: 0.5;
    right: -3vw;
    width: 30%;
    height: 100vh;
    background-image: url(/css/images/Global/secondBack.jpeg);
    background-size: 100% 100%;
}
.writing{
    color: white;
    position: absolute;
    top: 0.5vh;
    left: 40vw;
    border:2px solid rgb(255, 0, 0);
    padding: 4px 20px;
}
#snap:hover,
#snap:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}