@import url("./../Global/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 4vw;
    top: 30vh;
    font-size: 5vh;
}
.paymentSuccessful {
    z-index: 1;
    width: 12vw;
    position: absolute;
    top: 10vh;
    left: 40vw;
}
.retry{
    position: absolute;
    top: 70vh;
    left: 32vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(248, 65, 65);
    z-index: 1;
}
.retry::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(248, 65, 65);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.retry:hover:before{
    transform: scaleY(0);
}
.retry::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(248, 65, 65);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.retry:hover:after{
    transform: scaleX(0);
}
.retry span{
    position: relative;
    z-index: 3;
}
.try-pin{
    position: absolute;
    top: 70vh;
    left: 48vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(2, 252, 23);
    z-index: 1;
    text-decoration: none;
}
.try-pin::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(2, 252, 23);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.try-pin:hover:before{
    transform: scaleY(0);
}
.try-pin::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(2, 252, 23);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.try-pin:hover:after{
    transform: scaleX(0);
}
.try-pin span{
    position: relative;
    z-index: 3;
}
.retry-text{
    color: white;
    z-index: 2;
    font-size: 3vh;
    position: absolute;
    top: 45vh;
    left: 0vh;
    background-color: red;
    border: 2px solid black;
    padding: 1vh;
}