.alert-box{
    position: relative;
    top: -46vh;
    left: -9vw;
    width: 150%;
    background-color: rgb(253, 2, 2);
    font-size: 22px;
    padding: 2vh;
    color: #ffffff;
    /* display: none; */
}
.close-alert{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 2vh;
    top: 1.2vh;
}
.close-alert:hover{
    color: black;
}
.alert-box.show::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	height: 4px;
	background-color:#f59d29;
	width: 100%;
	box-sizing: border-box;
	z-index: 11;
}

.alert-box.show{
	animation: showAlert 1s ease forwards;
}
@keyframes showAlert{
	0%{
		transform: translateX(100%);
	}
	40%{
		transform: translateX(-15%);
	}
	80%{
	   transform: translateX(0%);	
	}
	100%{
	   transform: translateX(-10px);		
	}
}