<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | Personal Details</title>
    <link rel="stylesheet" href="/css/Signup/page1.css" type="text/css">
</head>
<body onload="checkDetails()">
    <div class = "background">
        <div class = "backgroundImgFirst"></div>
        <div class="floatBox">
            <h2 class = "signupHeading">Personal Details: </h2>
            <form action="/signup/first" method="POST">
                <%- include('../partials/messages') %> 
                <div class="signupForm">
                    <input 
                    id = 'name' 
                    type="text" 
                    name="name" 
                    autocomplete="off"
                    value="<%= typeof name != 'undefined' ? name : '' %>" 
                    required />
                        <label for="name" class="label-name">
                            <span class="content-name">Name</span>
                        </label>
                </div>
                <div class = "number">
                        <input 
                        id = 'number' 
                        type="number" 
                        name="number" 
                        autocomplete="off" 
                        value="<%= typeof number != 'undefined' ? number : '' %>" 
                        required />
                        <label for="number" class="label-number">
                            <span class="content-number">Mobile no</span>
                        </label>
                </div>
                <div class = "email">
                        <input 
                        id = 'email' 
                        type="email" 
                        name="email" 
                        autocomplete="off" 
                        value="<%= typeof email != 'undefined' ? email : '' %>" 
                        required />
                        <label for="email" class="label-email">
                            <span class="content-email">Email id</span>
                        </label>
                </div>
                    <a href="/" border-color="black" class="back"><span>Back</span></a>
                    <button id = 'submit1' type="submit" border-color="black" class="next" onclick="getDetails()"><span>Next</span></a>
                    <div id="alert-num" class="alert-box show" >
                        Mobile Number Incorrect
                         <span class="close-alert " onclick="this.parentElement.style.display='none';">&times</span>
                     </div>
                     <div id="exist-num" class="alert-box show">
                        Mobile Number Already Exists
                        <span class="close-alert " onclick="this.parentElement.style.display='none';">&times</span>
                     </div>
                     <div id="exist-email" class="alert-box show">
                        E-Mail Already Exists
                        <span class="close-alert " onclick="this.parentElement.style.display='none';">&times</span>
                     </div>
            </form>
        </div>
        <div class="backgroundImgSecond"></div>
    </div>
    <script src="./../../clientJS/Signup/page1.js"></script>
</body>
</html>