<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registeration Successful!</title>
    <link rel="stylesheet" href="/css/Signup/sucessfull.css" />
  </head>
  <body>
    <div class="background">
      <div class="backgroundImgFirst"></div>
      <div class="floatBox">
        <img src="/css/images/Signup/thankyou1.gif" class="thanku" alt="" />
        <h2 class="signupHeading">Registeration Successful!</h2>
      </div>
      <div class="backgroundImgSecond"></div>
      <a href="/" border-color="black" class="home"><span>Home</span></a>
    </div>
  </body>
</html>
