<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmilePay | Facial Identity</title>
    <link rel="stylesheet" href="/css/Login/face.css">
</head>
<body>
    <div class="backgroundImgFirst"></div>
    <video id = "video" width="700" height="475" autoplay muted></video>
    <button id = "snap" onclick="capture()">CAPTURE</button>
    <canvas id = "canva" width="700" height="500"></canvas>
    <div class="backgroundImgSecond"></div>
    <h2 class="writing">Please adjust your <br> face in the BlueBox</h2>
</body>
</html>