<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/Login/forgetPassword.css" type="text/css">
</head>

<body>
    <div class="background">
        <div class="backgroundImgFirst"></div>
        <div class="floatBox">
            <h2 class="signupHeading">Forgot Password</h2>
            <form action="/login/forgetPassword" method="POST">
                <%- include('../partials/messages') %>
                <div class="signupForm">
                    <input id='username' type="text" name="username" autocomplete="off" required />
                    <label for="name" class="label-name">
                        <span class="content-name">Username</span>
                    </label>
                </div>
                <div class="passwordp">
                    <input id='pin' type="password" name="pin" autocomplete="off" required />
                    <label for="pin" class="label-password">
                        <span class="content-password">ENTER PIN</span>
                    </label>
                </div>
                <button id='pin-btn' type="submit" class="submit" onclick="getUsername()"><span>SUBMIT</span></button>
                <a href="/login/first" class="back"><span>BACK</span></a>
        </div>
        </form>
        <div class="backgroundImgSecond"></div>

    </div>
    <script src="./../../clientJS/Login/forgetPassword.js"></script>
</body>

</html>