<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try With Pin</title>
    <link rel="stylesheet" href="/css/Login/payPin.css">
</head>

<body>
    <div class="background">
        <div class="backgroundImgFirst"></div>
        <div class="floatBox">
            <h2 class="signupHeading">Try With PIN</h2>
            <form id="form" action="/login/payPin" method="POST">
                <%- include('../partials/messages') %>
                <input id="paymentStatus" type="text" name="paymentStatus" style="display: none;">
                <input id="accountOfDonor" type="text" name="accountOfDonor" style="display: none;">
                <input id="amountDebit" type="text" name="amountDebit" style="display: none;">
                <input id="accountOfRecipient" type="text" name="accountOfRecipient" style="display: none;">
                <div class="passwordp">
                    <input id='pin' type="password" name="pin" placeholder="Enter Pin" autocomplete="off" required />
                    <label for="pin" class="label-password">
                        <span class="content-password">ENTER PIN</span>
                    </label>
                </div>
                <p><strong>PLEASE NOTE: </strong>You can Enter Pin only ONCE.</p>
                <button id='pin-btn' class="submit" onclick="getPin()"><span>SUBMIT</span></button>
                <a href="/login/paymentUndone" class="back"><span>BACK</span></a>
        </div>
        </form>
        <div class="backgroundImgSecond"></div>
    </div>
    <script src="./../../clientJS/Login/payPin.js"></script>
</body>

</html>