<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <link rel="stylesheet" href="/css/Login/recoverPassword.css" type="text/css">
</head>

<body>
    <div class="background">
        <div class="backgroundImgFirst"></div>
        <div class="floatBox">
            <h2 class="signupHeading">Recover Password</h2>
            <form action="">
                <div class="password">
                    <input id='password' type="password" pass="pass" autocomplete="off" required />
                    <label for="password" class="label-password">
                        <span class="content-password">New Password</span>
                    </label>
                </div>
                <div class="passwordc">
                    <input id='password2' type="password" pass="pass" autocomplete="off" required />
                    <label for="password" class="label-password">
                        <span class="content-password">Confirm Password</span>
                    </label>
                </div>
                <a href="/login/first" id='pass-btn' class="submit"><span>SUBMIT</span></a>
                <a href="/login/forgetPassword" class="back"><span>BACK</span></a>
                <div id="mismatch-password" class="alert-box show">
                    Password didn't match
                    <span class="close-alert " onclick="this.parentElement.style.display='none';">&times</span>
                </div>
                <div id="password-alert" class="alert-box show">
                    Password should be more than 8 Characters
                    <span class="close-alert " onclick="this.parentElement.style.display='none';">&times</span>
                </div>
                <div  id="password-box" >
                    <span class="ion-checkmark-round">&#9989</span>
                    <h1>Your Password has been changed successfully</h1>
                    <a href="firstLoginPage.html" class="close">Close</a>
                </div>
        </div>
        </form>
        <div class="backgroundImgSecond"></div>
    </div>
</body>
</html>