*{
    margin: 0%;
    padding: 0%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
    color: white;
    opacity: 0.7;
}
.background {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.backgroundImgFirst {
    opacity: 0.5;
    width: 25%;
    height: 100vh;
    background-image: url(/css/images/Global/firstBack.png);
    background-size: 100% 100%;
}
.backgroundImgSecond {
    position: absolute;
    opacity: 0.5;
    right: 0vw;
    width: 30%;
    height: 100vh;
    background-image: url(/css/images/Global/secondBack.jpeg);
    background-size: 100% 100%;
}
.floatBox {
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom right,rgb(21, 36, 248),rgb(11, 145, 255),rgb(0, 195, 255));
    top: 7vh;
    left: 5%;
    height: 85vh;
    width: 35%;
    border-radius: 5vh;
    box-shadow: 1vh 1vw 2vh  #203a4e;
}
.back{
    position: absolute;
    top: 70vh;
    left: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(6, 142, 233);
}

.back::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: rgb(6, 142, 233)    ;
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.back:hover:before{
    transform: scaleY(0);
}
.back::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: rgb(6, 142, 233);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.back:hover:after{
    transform: scaleX(0);
}
.back span{
    position: relative;
    z-index: 3;
}

.next{
    position: absolute;
    top: 70vh;
    right: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(0, 195, 255);
}
.next::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(0, 195, 255);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.next:hover:before{
    transform: scaleY(0);
}
.next::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(0, 195, 255) ;
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.next:hover:after{
    transform: scaleX(0);
}
.next span{
    position: relative;
    z-index: 3;
}
.alert{
    position: absolute;
    top: -5vh;
    left: -9vw;
    width: 150%;
    background-color: rgb(253, 2, 2);
    font-size: 20px;
    padding: 2vh;
    color: #ffffff;
}
.closebtn{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 2vh;
    top: 0.6vh;
    }
    .closebtn:hover{
        color: black;
    }
    .alert.show::before{
        content: '';
        position: absolute;
        left:0;
        bottom:0;
        height: 4px;
        background-color:#f59d29;
        width: 100%;
        box-sizing: border-box;
        z-index: 11;
    }
    .alert.show{
        animation: showAlert 1s ease forwards;
    }
    @keyframes showAlert{
        0%{
            transform: translateX(100%);
        }
        40%{
            transform: translateX(-15%);
        }
        80%{
        transform: translateX(0%);	
        }
        100%{
        transform: translateX(-10px);		
        }
    }
input::placeholder{
    color: transparent;
}
/* @media screen and (max-width:1000px){
    .floatBox{
        width: 98%;
        left: 1%;
        top:1%;
        right: 1%;
        bottom: 1%;
        border-radius: 0vh;
    }
    .backgroundImgFirst,.backgroundImgSecond{
        display:none;
    }
    .next{
        position: absolute;
        right:5%;
    }
}
@media screen and (max-width: 750px){
    .background{
      background-color: white;
    }
    .floatBox{
      background: rgb(14, 160, 228);  
    }
    .text{
        display: none;
    }
    .text label{
        display: block;
    }
    input::placeholder{
        color:black;
    }
    .signupForm label{
        display: none;
    }    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 10% 0 4% 0;
        display: inline-block;
        border: 2.5px solid rgb(7, 7, 7);
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=text]:focus{
        border-color: rgb(34, 30, 255);
        box-shadow:0 0 10px dodgerblue;
    }
    .number2 label{
        display: none;
    }
    .number3 label{
        display: none;
    }
    .number label{
        display: none;
    }
    input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2.5px solid rgb(7, 7, 7);
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=number]:focus{
        border-color: rgb(34, 30, 255);
        box-shadow:0 0 10px dodgerblue;
    }
    .email label{
        display: none;
    }
    input[type=email], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2.5px solid rgb(7, 7, 7);
        border-radius: 4px;
        box-sizing: border-box;
        transition:0.3s;
    }
    input[type=email]:focus{
          border-color: rgb(34, 30, 255);
          box-shadow:0 0 10px dodgerblue;
    }
    .password label{
          display: none;
    }
    .passwordp label{
          display:none;
    }
    .passwordc label{
          display: none;
    }
    input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2.5px solid rgb(7, 7, 7);
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=password]:focus{
        border-color: rgb(34, 30, 255);
        box-shadow:0 0 10px dodgerblue;
    }
    .passwordc input::placeholder{
        font-size: 89%;
    }
} */
@media screen and (max-width:750px){
    .background{
        background-color: white;
      }
      .floatBox{
        background: linear-gradient(to bottom right,rgb(21, 36, 248),rgb(11, 145, 255),rgb(0, 195, 255));
      }
      .text{
        display: none;
    }
    .backgroundImgFirst,.backgroundImgSecond{
        display:none;
    }
    .back{
        position: absolute;
        top:77%;
    }
    .next{
        position: absolute;
        right:5%;
        top:77%;
    }
    .floatBox{
        width: 98%;
        height: 98vh;
        left: 1%;
        top:1%;
        right: 1%;
        bottom: 1%;
        border-radius: 0vh;
    }
    .forgetPassword {
        position: absolute;
        left: 10vw;
    }
    input::placeholder{
        color:black;
        padding-top: -50%;
    }
    .account label, .text label, .signupForm label, .email label, .number label ,.number1 label ,.number2 label, .number3 label, .password label, .passwordc label, .passwordp label{
        display: none;
    }    
    .account, .signupForm , .number, .email, .password, .passwordp, .passwordc, .number1, .number2, .number3{
        border: 2.5px solid black;
        margin-top: 4%;
        margin-left:5%;
        width: 150%;
        height: 6vh;
    }
    .signupForm{
        margin-top: 18%;
    }
    #username1{
        margin-top: 18%;
    }
    .number1{
        margin-top: 10%;
    }
    .passwordc input::placeholder{
        font-size: 90%;
    }
    .number2, .number3{
        margin-top:18%;
    }
    input{
        padding: 0vh;
        padding-left: 5%;
        position: relative;
        top: -4vh;
    }
    .email input{
        top: -6vh;
    }
    .signupForm:focus{
        border-color: rgb(255, 56, 30);
        box-shadow:0 0 10px rgb(255, 30, 169);
        background-color: black;
        visibility: visible;
        z-index: 18;
    }
    
    .alert{
        position: absolute;
        top: 1%;
        left: 8.5%;
        width: 80%;
        background-color: rgb(253, 2, 2);
        font-size: 20px;
        padding: 2vh;
        color: #ffffff;
    }
    .dropdown {
        position: absolute;
        top: -1%;
        left: 20%;
    }
    .dropdown-content button :focus{
        padding: 0vh 0vw;
    }

}
