@import url("./../Global/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 10vw;
    top: 4vh;
    font-size: 5vh;
}
.number {
    width: 65%;
    position: relative;
    top: 15vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;  
}
.number input,.number2 input,.number3 input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}
.number label,.number2 label,.number3 label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.number label::after,.number2 label::after,.number3 label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number input:focus + .label-number .content-number,
.number input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number input:focus +.label-number::after,
.number input:valid + .label-number::after{
    transform: translateX(0%);
}
.dropbtn {
    position: absolute;
    background-color: #1013d8;
    top: 32vh;
    left: 5vw;
    color: white;
    padding: 2vh 8vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 38.5vh;
    left: 5vw;
    background-color: #f9f9f9;
    min-width: 22.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content button {
    border-style: none;
    background-color: transparent;
    color: black;
    padding: 2vh 9vw;
    text-decoration: none;
    display: block;
  }
  .dropdown-content button:hover {
      transform: scale(1.05);
      background-color: #f1f1f1;
      border-style: dashed;
    }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #10c1d8;
    color: black;
  }
.number2 {
    display: none;
    width: 65%;
    position: relative;
    top: 35vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
    
}
.number2 input:focus + .label-number .content-number,
.number2 input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number2 input:focus +.label-number::after,
.number2 input:valid + .label-number::after{
    transform: translateX(0%);
}
.number3 {
    display: none;
    width: 65%;
    position: relative;
    top: 35vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;  
}
.number3 input:focus + .label-number .content-number,
.number3 input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number3 input:focus +.label-number::after,
.number3 input:valid + .label-number::after{
    transform: translateX(0%);
}


